@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 8px;
    border-radius: 50%;
  }
  ::-webkit-scrollbar-track {
    background: #ffffff;
  }
  ::-webkit-scrollbar-thumb {
    background: #3BA6F6;
    border-radius: 10px;
  }


.ant-table-thead > tr > th{
    background-color: #3BA6F6 !important;
    color: white !important;
}
.ant-table-thead > tr > th::before{
    display: none;
}
.ant-table-tbody{
    border-end-end-radius: 16px !important;
}

.ant-badge-count{
    position: absolute !important;
    top: 10px !important;
    right: 9px !important;
    inset-inline-end: 0;
    transform: translate(50%, -50%);
    transform-origin: 100% 0%;
}

.PhoneInputInput{
    outline: none;
    /* background-color: #EBF6FE; */
    background-color:  #EBF6FE;
    padding: 1rem;
    border-radius:5px ;
}
.PhoneInputCountry{
    margin-right: 15px !important;
    display: flex !important;
    gap:10px;
    background-color:  #EBF6FE;
    padding: 1rem;
    border-radius:5px ;
}

.ant-upload{
    background-color: white !important;
    width: 242px;
}
/* .jodit-workplace{
    min-height: 200px !important;
} */
div.ReactTags__tagInput {
    width: 200px;
    border-radius: 2px;
    display: inline-block;
}
div.ReactTags__tagInput input.ReactTags__tagInputField,
div.ReactTags__tagInput input.ReactTags__tagInputField:focus {
    margin: 0;
    font-size: 15px;
    width: 100%;
    border: 2px solid #EBF6FE;
    padding: 6px 10px;
    outline: none;
}

/* Styles for selected tags */
div.ReactTags__selected span.ReactTags__tag {
    border: 1px solid #ddd;
    background: #EBF6FE;
    font-size: 18px;
    display: inline-block;
    padding: 5px;
    margin: 0 5px;
    border-radius: 2px;
}
.ReactTags__remove{
    color: #ff0000 !important;
    margin-left: 8px;
    cursor: pointer;
}
.ant-modal-content{
    background-color: #C2E3FC !important ;
    width: 600px !important;
    padding: 50px !important;
}
.ant-input-affix-wrapper{
    border-radius: 0%;
}
/* .ant-input {
    background-color: #C2E3FC!important;
} */

.dynamic-delete-button {
    position: relative;
    top: 4px;
    margin: 0 8px;
    color: #999;
    font-size: 24px;
    cursor: pointer;
    transition: all 0.3s;
  }
  .dynamic-delete-button:hover {
    color: #777;
  }
  .dynamic-delete-button[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
  }
  .ant-form-item-control-input-content{
    display: flex;
    ;
    
  }
  .ant-form-item-control{
    margin: 0px;
    width: 100%;
  }

  .example {
    text-align: center;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }